In [1]:
import ortools

load D:\miniconda3\Lib\site-packages\ortools\.libs\zlib1.dll...
load D:\miniconda3\Lib\site-packages\ortools\.libs\abseil_dll.dll...
load D:\miniconda3\Lib\site-packages\ortools\.libs\utf8_validity.dll...
load D:\miniconda3\Lib\site-packages\ortools\.libs\re2.dll...
load D:\miniconda3\Lib\site-packages\ortools\.libs\libprotobuf.dll...
load D:\miniconda3\Lib\site-packages\ortools\.libs\highs.dll...
load D:\miniconda3\Lib\site-packages\ortools\.libs\ortools.dll...

In [2]:
import pandas as pd

In [5]:
%%html
<img src="问题描述.png" width="800" height="800">

In [23]:
index = [ele for ele in 'ABCDEF']
columns = index.copy()
line_cnt_df = pd.DataFrame(index=index, columns=columns)
line_cnt_df.fillna(0, inplace=True)
line_cnt_df.loc['D','E'] = 3
line_cnt_df.loc['B','C'] = 2
line_cnt_df.loc['A','F'] = 1
line_cnt_df.loc['D','B'] = 1
display(line_cnt_df)

C:\Users\wangc\AppData\Local\Temp\ipykernel_14968\383145451.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  line_cnt_df.fillna(0, inplace=True)

   A  B  C  D  E  F
A  0  0  0  0  0  1
B  0  0  2  0  0  0
C  0  0  0  0  0  0
D  0  1  0  0  3  0
E  0  0  0  0  0  0
F  0  0  0  0  0  0

In [29]:
data = """0,1,2,14,7,7
1,0,3,13,8,8
2,3,0,15,5,5
14,13,15,0,17,20
7,8,5,17,0,3
7,8,5,20,3,0"""
rslt = []
for line in data.splitlines():
    rslt.append(line.strip().split(','))
index = [ele for ele in 'ABCDEF']
columns = index.copy()
cost_df = pd.DataFrame(rslt, index=index, columns=columns)
display(cost_df)

    A   B   C   D   E   F
A   0   1   2  14   7   7
B   1   0   3  13   8   8
C   2   3   0  15   5   5
D  14  13  15   0  17  20
E   7   8   5  17   0   3
F   7   8   5  20   3   0